---
layout: home
title: Home
---

<!-- Upcoming events -->

{% if site.categories.upcoming.size != site.tags.done.size %}
<div class="upcoming-post-container prominent-post-container">
    <h2>Coming up</h2>
    {% assign posts = site.categories.upcoming | reverse %}
    {% for post in posts %}
    {% unless post.done %}
    <div class="upcoming-post prominent-post">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-details">
            <div class="post-info">
                {% if post.author %}
                    <div class="post-author">{{ post.author }}</div>
                    <div class="dot">•</div>
                {% endif %}
                <div class="post-date">{{ post.futuredate | date: "%A %-d %b %Y" }}</div>
                {% if post.futuretime %}
                    <div class="dot">•</div>
                    <div class="post-time">{{ post.futuretime }}</div>
                {% endif %}
                {% if post.tags.size > 0 %}
                    <div class="dot">•</div>
                    {% for tag in post.tags %}
                        {% assign tagdata =  site.data.tags[tag] %}
                        <a class="post-tag" href="{{ tagdata.link | relative_url}}">{{ tagdata.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            {% if post.blurb %}
                <div class="post-blurb">{{ post.blurb | markdownify }}</div>
            {% endif %}
            <a class="post-link read-more-link fancy" href="{{ post.url | relative_url }}">More details</a>
        </div>
    </div>
    {% endunless %}
    {% endfor %}
</div>
<hr>
{% endif %}


<!-- Latest posts -->

<div class="first-post-container prominent-post-container">
    <h2>Latest</h2>
    {% for post in site.posts %}
    {% unless post.categories contains "upcoming"%}
    <div class="first-post prominent-post">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-details">
            <div class="post-info">
                {% if post.author %}
                    <div class="post-author">{{ post.author }}</div>
                    <div class="dot">•</div>
                {% endif %}
                <div class="post-date">{{ post.date | date: "%A %-d %b %Y" }}</div>
                {% if post.tags.size > 0 %}
                    <div class="dot">•</div>
                    {% for tag in post.tags %}
                        {% assign tagdata =  site.data.tags[tag] %}
                        <a class="post-tag" href="{{ tagdata.link | relative_url}}">{{ tagdata.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            {% if post.blurb %}
                <div class="post-blurb">{{ post.blurb }}</div>
            {% endif %}
            <a class="post-link read-more-link fancy" href="{{ post.url | relative_url }}">Read more</a>
        </div>
    </div>
    {% break %}
    {% endunless %}
    {% endfor %}
</div>

<hr>

<div class="post-blocks">
    <div class="post-block">
        <h2>Announcements</h2>

        <ul>
            {% for post in site.categories.announcements limit:5 %}
                <li>
                    <span class="post-date"> {{ post.date | date: "%d %b %Y" }} </span>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if site.categories.announcements.size > 5 %}
        <a class="read-more-link fancy" href="{{ "/announcements/" | relative_url }}">See more</a>
        {% endif %}
    </div>

    <div class="post-block">
        <h2>Articles</h2>

        <ul>
            {% for post in site.categories.articles limit:5 %}
            {% capture total %} {{ forloop.length }} {% endcapture %}
                <li>
                    <span class="post-date"> {{ post.date | date: "%d %b %Y" }} </span>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if site.categories.contests.size > 5 %}
        <a class="read-more-link fancy" href="{{ "/articles/" | relative_url }}">Older posts ...</a>
        {% endif %}
    </div>

    <div class="post-block">
        <h2>Monthly Contests</h2>

        <ul>
            {% for post in site.categories.contests limit:5 %}
            {% capture total %} {{ forloop.length }} {% endcapture %}
                <li>
                    <span class="post-date"> {{ post.date | date: "%d %b %Y" }} </span>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if site.categories.contests.size > 5 %}
        <a class="read-more-link fancy" href="{{ "/contests/" | relative_url }}">Older posts ...</a>
        {% endif %}
    </div>

    <div class="post-block">
        <h2>Talks and Demos</h2>

        <ul>
            {% for post in site.categories.talks limit:5 %}
            {% capture total %} {{ forloop.length }} {% endcapture %}
                <li>
                    <span class="post-date"> {{ post.date | date: "%d %b %Y" }} </span>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if site.categories.talks.size > 5 %}
        <a class="read-more-link fancy" href="{{ "/talks/" | relative_url }}">Older posts ...</a>
        {% endif %}
    </div>
</div>
