<footer>
    <div class="footer-row">
        <div class="footer-nav">
            <h3>Navigation</h3>
            {% for item in site.data.navigation %}
            <a href="{{ item.link | relative_url }}" {% if page.url == item.link %}class="current"{% endif %}>
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
        
        <div class="footer-categories">
            <h3>Categories</h3>
            {% for item in site.data.homecategories %}
            <a href="{{ item.link | relative_url }}" {% if page.url == item.link %}class="current"{% endif %}>
                {{ item.title }}
            </a>
            {% endfor %}
        </div>
        
        <div class="footer-contact">
            <h3>Contact</h3>
            <a href="mailto:maths.club@iiserkol.ac.in">maths.club@iiserkol.ac.in</a>
            <div class="footer-image">
                <a href="https://www.youtube.com/channel/UCDxY-Qze-gkdggHEb0SCXeA" title="YouTube channel" target="_blank"><img id="youtube" src="{{ "assets/images/youtube.svg" | relative_url }}" alt="YouTube channel"></a>
                <a href="https://www.facebook.com/identity.iiserk/" title="Facebook page" target="_blank"><img id="facebook" src="{{ "assets/images/facebook.svg" | relative_url }}" alt="Facebook page"></a>
                <a href="https://twitter.com/identity_iiserk" title="Twitter page" target="_blank"><img id="twitter" src="{{ "assets/images/twitter.svg" | relative_url }}" alt="Twitter page"></a>
                <a href="https://www.instagram.com/identity.iiserk/" title="Instagram page" target="_blank"><img id="instagram" src="{{ "assets/images/instagram.svg" | relative_url }}" alt="Instagram page"></a>
            </div>
            <div class="footer-image">
                <a href="https://www.iiserkol.ac.in/" title="IISER Kolkata" target="_blank"><img id="iiser" src="{{ "assets/images/logo_flat.svg" | relative_url }}" alt="IISER Kolkata"></a>
                <a href="https://math.iiserkol.ac.in/" title="DMS, IISER Kolkata" target="_blank"><img id="dms" src="{{ "assets/images/dms_logo.svg" | relative_url }}" alt="DMS, IISER Kolkata"></a>
            </div>
        </div>
    </div>
</footer>
