footer {
    position: relative;
    bottom: 0;
    width: 100%;
    width: calc(100vw - 64px);
    max-width: 900px;
    margin: auto auto 0 auto;
    padding: 16px 32px 8px 32px;
    border-radius: 8px 8px 0 0;
    
    background: rgba(255, 255, 255, 0.95);

    @media screen and (max-width: 1000px) {
        background: #F3F8FF;
        border-top: solid 1px #AAAAAA;
        max-width: 100vw;
        border-radius: 0;
    }
}

footer a.current {
    color: #222222;
}

footer a:hover {
    text-decoration: none;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    
    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
}

.footer-row > div {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
}

.footer-contact .footer-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;

    #youtube {
        height: 26px;
        margin-right: 24px;
    }
    
    #facebook {
        height: 28px;
        margin-right: 24px;
    }
    
    #twitter {
        height: 30px;
        margin-right: 24px;
    }
    
    #instagram {
        height: 28px;
    }

    #iiser {
        height: 40px;
        margin-right: 14px;
        margin-bottom: 8px;
    }

    #dms {
        height: 20px;
    }
}
