.header-container {
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    @media screen and (max-width: 1000px) {
        background: #F9F9F9;
    }
}

.header {
    margin: 0 auto;
    padding: 24px 32px;
    width: calc(100vw - 64px);
    max-width: 900px;
    
    display: grid;
    grid-template-areas: "logo nav dyk";
    grid-template-columns: auto auto 48px;
    align-items: center;
}

.header .main-logo {
    grid-area: logo;

    display: flex;
    flex-direction: row;
    align-items: baseline;

    margin-right: auto;
    
    h1 {
        margin: 0 12px 0 0;
        font-size: 32px;
    }

    span {
        font-family: "Open Sans", sans-serif;
    }
}

.header .did-you-know {
    grid-area: dyk;

    position: relative;
    margin: 4px 0 0 16px;
    font-style: italic;


    #dyk {
        height: 48px;
        width: 48px;

        transform: translateY(-4px);

        .bulb {
            fill: #FFA900;
            transition: fill .2s ease;
        }
        .ray {
            fill: #FFC000;
            opacity: 0;
            transition: opacity .2s ease;
        }
    }


    &:hover #dyk {
        .bulb {
            fill: #FFD045;
        }
        .ray {
            opacity: 1;
        }
    }

    h1 {
        font-style: normal;
        font-size: 20px;
        margin-bottom: 4px;
    }

    .fact-box {
        display: none;
        position: absolute;
        z-index: 10;
    }

    &:hover .fact-box {
        display: block;
        top: calc(100% + 4px);
        right: -8px;
        width: 24ch;
        max-width: calc(100vw - 92px);
        padding: 12px;
        background: #ffffff;
        border-radius: 8px;
        border: solid 2px #999999;
    }
}

.header nav {
    grid-area: nav;

    margin-top: 8px;
    text-align: right;
    
}

.header #menulabel {
    grid-area: menubutton;
    display: none;
}

.header input#menu {
    display: none;
}

@media screen and (max-width: 700px) {
    .header {
        grid-template-areas: "logo dyk menubutton"
                             "nav  nav nav";
        grid-template-columns: 1fr 48px 42px;
    }
    .header .main-logo {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header .did-you-know {
        margin: 0;
    
        &:hover .fact-box {
            right: -32px;
        }
    }

    .header .fancy:after {
        display: none;
    }

    .header #menulabel {
        position: relative;
        display: block;
        box-sizing: border-box;
        cursor: pointer;
        width: 24px;
        height: 20px;
        margin: 8px;

        transition: 150ms transform ease;

        div {
            position: absolute;
            display: block;
            width: 24px;
            height: 2px;
            background: #000000;

            transition: 150ms transform ease;
        }
        .first {
            top: 0;
        }
        .second {
            top: 9px;
        }
        .third {
            bottom: 0;
        }
    }

    .header input#menu:checked +label {
        transform: rotate(90deg);

        .second {
            opacity: 0;    
        }
        .first {
            top: 9px;
            transform: rotate(45deg);
        }
        .third {
            top: 9px;
            transform: rotate(-45deg);
        }
    }

    .header nav {
        text-align: left;
        max-height: 0;
        overflow: hidden;
    }

    .header input#menu:checked ~ nav {
        max-height: unset;
    }
}

@media screen and (min-width: 700px) {
    .header-container {
        position: relative;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;

            background: #FFFFFF;
            opacity: 0;
            transition: 500ms opacity ease;
        }

        &:hover:after {
            opacity: 0.6;
        }
    }
}
