.content hr {
    margin: 32px 0;
    margin-left: -32px;
    width: calc(100% + 64px);
}

.prominent-post-container {
    // margin-bottom: 32px;
}

.prominent-post {
    margin-bottom: 16px;

    .post-title {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .post-details {
        .post-info {
            margin-bottom: 8px;
            
            font-style: italic;

            div {
                display: inline-block;
                
                @media screen and (max-width: 700px) {
                    display: block;
                }
            }
            .dot {
                margin: 0 8px;
                opacity: 0.4;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }

            .post-tag:after {
                content: ',';
            }
            .post-tag:last-child:after {
                content: '';
            }
        }
    }
    
    .post-blurb {
        margin-bottom: 8px;
    }

    .read-more-link {
        font-weight: bold;
    }
}

.post-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .post-block {
        flex: 40% 1 1;
        margin-bottom: 24px;
        padding-right: 16px;
    }
    
    @media screen and (max-width: 700px) {
        display: block;
        margin-top: 32px;
    }
}
