.content hr {
    margin: 32px 0;
    margin-left: -32px;
    width: calc(100% + 64px);
}

.prominent-post {
    margin-bottom: 16px;

    .post-title {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .post-details {
        .post-info {
            margin-bottom: 8px;
            
            font-style: italic;

            div {
                display: inline-block;
                
                @media screen and (max-width: 700px) {
                    display: block;
                }
            }
            .dot {
                margin: 0 8px;
                opacity: 0.4;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }

            .post-tag:after {
                content: ',';
            }
            .post-tag:last-child:after {
                content: '';
            }
        }
    }
    
    .post-blurb {
        margin-bottom: 8px;
    }

    .read-more-link {
        font-weight: bold;
    }
}

.post-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .post-block {
        flex: 40% 1 1;
        margin: 0 16px 24px 0;
    }
    
    @media screen and (max-width: 700px) {
        display: block;
        margin-top: 32px;
        margin-right: 0;
    }
}

@media screen and (min-width: 700px) {
    .prominent-post-container {
        position: relative;

        &:after {
            position: absolute;
            content: '';
            left: -32px;
            right: -32px;
            top: -32px;
            bottom: -32px;
            z-index: -1;

            background: #FFFFFF;
            opacity: 0;
            transition: 500ms opacity ease;
        }

        &:hover:after {
            opacity: 0.6;
        }
    }
}
