.first-post {
    margin-bottom: 16px;
    .post-title {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .post-details {
        .post-info {
            margin-bottom: 8px;
            
            font-style: italic;

            div {
                display: inline-block;
                margin-right: 12px;
                
                @media screen and (max-width: 700px) {
                    display: block;
                }
            }
        }
    }
    
    .post-blurb {
        margin-bottom: 8px;
    }

    .read-more-link {
        font-weight: bold;
    }
}

.post-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .post-block {
        flex: 40% 1 1;
        margin: 24px 0;
        padding-right: 16px;
    }
    
    @media screen and (max-width: 700px) {
        display: block;
        margin-top: 32px;
    }
}
