* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url($baseurl + "/assets/images/maths.jpg");
    background-repeat: repeat;
    
    @media screen and (max-width: 1000px) {
        background: #F9F9F9;
    }
}

hr {
    border: none;
    border-top: solid 1px #AAAAAA;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #1D1DBD;

    &:hover {
        color: #222222;
        text-decoration: none;
    }

    &.fancy:after {
        position: absolute;
        content: '';
        left: -2px;
        right: -2px;
        bottom: -10px;
        height: 8px;
        background: #1D1DBD;
        opacity: 0.3;
        z-index: 1;

        transform-origin: bottom right;
        transform: scaleX(0);

        transition: 200ms transform ease;
    }

    &.fancy:hover:after {
        transform-origin: bottom left;
        transform: scaleX(1.0);
    }
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    background: rgba(255, 255, 255, 0.95);

    position: relative;
    width: calc(100vw - 64px);
    max-width: 900px;
    margin: 48px auto;
    padding: 32px 32px;

    border-radius: 8px;
    
    @media screen and (max-width: 1000px) {
        margin: 0 auto;
        border-radius: 0;
        background: #F9F9F9;
    }
}

.post-block {
    li {
        margin-bottom: 2px;
    }

    ul {
        list-style-type: none;
    }

    .post-date {
        display: inline-block;
        width: 115px;

        font-style: italic;
        opacity: 0.8;
        
        &:after {
            content: ":";
        }
    }

    .read-more-link {
        display: inline-block;
        margin-top: 8px;
        font-weight: bold;
    }
}
