* {
    margin: 0;
    padding: 0;
}

body {
    background: #F9F9F9;
}

hr {
    border: none;
    border-top: solid 1px #AAAAAA;
}

a {
    text-decoration: none;
    color: #1D1DBD;
}

a:hover {
    color: #222222;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    position: relative;
    width: calc(min(100vw - 64px, 80ch));
    margin-left: auto;
    margin-right: auto;
    padding: 32px 32px;
}

.content .post-block + .post-block {
    margin: 32px 0;
}

.post-block li {
    margin-bottom: 2px;
}

.post-block ul {
    list-style-type: none;
}

.post-block .post-date {
    display: inline-block;
    width: 12ch;
    
    font-style: italic;
}

.post-block .read-more-link {
    display: block;
    margin-top: 8px;
}
