nav a {
    position: relative;
    display: inline-block;
    margin: 8px 24px 8px 0;

    text-decoration: none;
    font-size: 20px;
    
    @media screen and (max-width: 450px) {
        display: block;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &.current {
        color: #222222;
    }

    &:hover {
        text-decoration: none;
    }

    @media screen and (min-width: 700px) {
        &.current:after {
            height: 0;
        }
    }
}
