nav {
    margin-top: 8px;
}

nav a {
    display: inline-block;
    margin: 8px 24px 8px 0;

    text-decoration: none;
    font-size: 20px;
    
    @media screen and (max-width: 450px) {
        display: block;
    }
}

nav a:last-of-type {
    margin-right: 0;
}

nav a.current {
    color: #222222;
}

nav a:hover {
    text-decoration: none;
}
