nav a {
    position: relative;
    display: inline-block;
    margin: 8px 24px 8px 0;

    text-decoration: none;
    font-size: 20px;
    
    @media screen and (max-width: 450px) {
        display: block;
    }

    &:last-of-type {
        margin-right: 0;
    }

    &.current {
        color: #222222;
    }

    &:hover {
        text-decoration: none;
    }

    @media screen and (min-width: 700px) {
        &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: -10px;
            height: 4px;
            background: #1B1BFF;
            opacity: 0.7;

            transform-origin: center;
            transform: scaleX(0);

            transition: 150ms transform ease;
        }

        &.current:after {
            height: 0;
        }

        &:hover:after {
            transform: scaleX(1.0);
        }
    }
}
