.post .post-title {  
    margin-bottom: 8px;
}

.post .post-info {
    margin-bottom: 24px;
    font-style: italic;

    .post-author {
        font-weight: 600;
    }
}

.post-content {
    font-size: 1rem;

    p {
        margin-bottom: 0.7em;
    }

    .image-wrapper {
        margin: 24px 0;

        img {
            display: block; 
            margin: 0 auto;
            max-width: 100%;
        }

        .caption {
            font-style: italic;
            text-align: center;
            margin-top: 16px;

            .katex {
                font-size: 1rem !important;
            }
        }
    }

    .youtube-container {
        margin: 24px 0;
    }

    .youtube-wrapper .youtube-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        max-width: 100%;

        iframe {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .katex-display {
        overflow: auto;
        padding: 12px 0;
    }
}
