<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include imports.html %}

        <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
        <link rel="stylesheet" href="{{ "/assets/css/posts.css" | relative_url }}">

        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="container">

            {% include header.html %}

            <div class="content post">
                <h1 class="post-title">{{ page.title }}</h1>
                <div class="post-date">{{ page.date | date: "%a %-d %B, %Y"}}</div>
                
                <div class="post-content">
                
                    {{ content }}

                </div>
            </div>

            {% include footer.html %}

            </div>
        </body>
</html>

